table.result {
	border: solid 2px #8FB28F;
	border-collapse: collapse;
	background-color: #FCFCFC;
    -moz-border-radius: 5px;
}

th {
	background-color: 	#A3CCA3;
}
th,td {
	border: solid 1px #AAAAAA;
	padding-left: 8px;
    margin: 2px;
}

.title {
	background-color: #AAAAAA;
	padding: 15px;
	font: 24px bold;
	border-top-left-radius: 15px; 
	border-top-right-radius: 15px; 
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
}

#main_panel {
	background-color: #EEEEEE;
	margin: 0px;
	width: 740px;
	border: solid 1px #AAAAAA;
	border-radius: 15px; 
	-moz-border-radius: 15px;
}

body {
	padding: 10px;
	margin: 0px;
	background-color: #F7F7F7;
	font-family: Arial;
}

form {
	padding: 10px;
}

.round-bordered-small-text
{
border: solid 0px #AAAAAA;
border-radius: 5px; 
-moz-border-radius: 5px;
padding: 5px;
font-size: 12px;
}

.tab_btn_selected
{
border: solid 1px #A3CCA3;
border-top-left-radius: 5px; 
border-top-right-radius: 5px; 
-moz-border-top-left-radius: 5px;
-moz-border-top-right-radius: 5px;
padding: 5px;
font-size: 12px;
background-color: A3CCA3;
}

.tab_btn_unselected
{
border: solid 1px #A3CCA3;
border-top-left-radius: 5px; 
border-top-right-radius: 5px; 
-moz-border-top-left-radius: 5px;
-moz-border-top-right-radius: 5px;
padding: 5px;
font-size: 12px;
}



#expand, #body_data
{
vertical-align: middle;
}
